.about {
    background-color: #fff;
    padding: 4rem;
    text-align: center;
  }
  
  .about-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
          