.about {
    padding: 5rem;
    display: flex;
    flex: 1;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-content {
    background-color: '#023047';
    display: flex;
    flex: 1;
    flex-direction: column;


  }

  #traning-scaduel{
    background-color: #023047;
    height: 100vmax;
    width: 100%;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  