.home {
  background-image: linear-gradient(to bottom, #f0f6fd, #e0f2ff);
  padding: 6rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://www.oganim-dvir.co.il/images/project_models_image1_4.jpg?1691712000022");

}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.home h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.home p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 2.5rem;
}

.visual-elements {
  margin: 2rem auto;
  max-width: 100%;
  animation: fadeInUp 1s ease-in-out;
}

.visual-elements img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.visual-elements img:hover {
  transform: scale(1.05);
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 12px 40px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  background-color: #e68200;
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
