.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 100rem;
  
}

.home {
  background-image: linear-gradient(to bottom, #f0f6fd, #e0f2ff);
  text-align: center;
  display: flex;
  flex: 1;
  
  padding: 6rem ;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://www.oganim-dvir.co.il/images/project_models_image1_4.jpg?1691712000022");

}

.top-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.home-content {
  
  margin: 3rem ;
  padding: 2rem ;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.home h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.home p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 2.5rem;
}

.visual-elements {
  margin: 2rem ;
  max-width: 45%;
  animation: fadeInUp 1s ease-in-out;
}

.home a{
  text-decoration: none;
  color: #fff;
}



.visual-elements-left{
  margin: 2rem;
  width: 40%;
  animation: fadeInUp 1s ease-in-out;
  float: left;
}

.visual-elements-right{
  margin: 2rem ;
  width: 40%;
  animation: fadeInUp 1s ease-in-out;
  float: right;
}

.mens-group{
  display: flex;
  flex: 1;
  margin: 2rem ;
  width: 40%;
  animation: fadeInUp 1s ease-in-out;
  float: right;
}

.womens-group{
  margin: 2rem ;
  width: 40%;
  animation: fadeInUp 1s ease-in-out;
  float: left;
}

.personal-training{
  margin: 2rem ;
  width: 40%;
  animation: fadeInUp 1s ease-in-out;
  float: left;
}


#veS img {
  max-width: 75%;
  height: 10%;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}


.top-elements #veS img {
  max-width: 75%;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}


#veS:hover {
  transform: scale(1.05);
}

#veS h1{
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.cta-button {
  background-color: #606c38;
  color: #fff;
  border: none;
  padding: 12px 40px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
  background-color: #e68200;
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media screen and (max-width: 768px) {
  
  .home-content {
    margin: 2rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 21vh;
    padding: 0;

  
  }

  .home{
    padding: 0rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
  }

  
  #veS img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
  }

  .top-elements #veS img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
  }

}
