.main{
  display: flex;
  background-image: url("https://www.oganim-dvir.co.il/images/project_models_image1_4.jpg?1691712000022");
  height: 250vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.home{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 90%;
  max-height: 20rem;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 2vh;
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.middle{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
  background-color: rgba(124, 164, 71, 0.316);
  color: #fff;
  border-radius: 2vh;
  max-height: 5rem;

}

.middle-text{
  flex: 1;

  font-size: 2rem;
}

.home-text{
  flex: 1;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.home-gif{
  flex:1;
  height: 100%;

  
}

.introGif{

  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
  width: 100%;
  height: 100%;
  
}


.stacked-sections {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  background-color: #f0f0f0; /* Light gray background */
  flex: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.section-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  align-items: center;
  text-align: center;
}

.section:hover {
  background-color: #9cff56; /* Light green background on hover */
  transform: scale(1.05); /* Enlarge slightly on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
}