.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #57cc99;
  text-decoration: none;
}

.nav-list {
  
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 5%;
}

.hamburger{
  display: none;
  cursor: pointer;


}

.hamburger-list{
  position: absolute;
  background-color: aliceblue;
  border-radius: 1rem;
  transform: translate(0, 80%);
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .hamburger {
    display:flex;
    max-width: 10%;
    align-items: center;
    margin-right: 10%;
    justify-content: center;
    flex:1;
    background-color: #57cc99;
  }
}

.hamburger-list li {
  padding: 1rem;
  text-align: center;
  width: 80%;
  list-style:none;
  

}

.hamburger-list a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.hamburger-list a:hover {
  color: #ff9900;
}

.hamburger-item {
  margin: 0;

}


.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9900;
}
