.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6bd425;
  text-decoration: none;
}

.nav-list {
  
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 5%;
}

.hamburger{
  display: none;
  cursor: pointer;
  size-adjust: 'fixed';


}



.hamburger-list{
  position: absolute;
  background-color:#b2ff9e;
  border-radius: 1rem;
  margin-right: 10vh;
  transform: translate(-40%, 70%);
  animation: fadeInDown 0.3s forwards;

}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(70%);
  }
}






@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .hamburger {
    display:flex;
    max-width: 10%;
    align-items: center;
    margin-right: 10%;
    justify-content: center;
    flex:1;
    background-color: #6bd425;
  }
}

.hamburger-list li {
  padding: 1rem;
  text-align: center;
  width: 80%;
  list-style:none;
  

}

.hamburger-list a {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hamburger-list a:hover {
  color: #9a9a9a;
}

.hamburger-item {
  margin: 0;

}


.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9900;
}
